/** Contenedor Popup */
.popup {
    padding: 0 !important;
    background-color: transparent !important;
}
.popup--mobile {
    padding: 0 !important;
    background-color: transparent !important;
}
/** Link Popup */
.popup__link {
    display: block;
}
.popup__link--mobile {
    display: block;
}
/** Imagen Popup */
.popup__image {
    width: 500px;
    height: 500px;
    display: block;
    max-width: 100%;
}
.popup__image--mobile {
    width: 350px;
    height: 500px;
    display: block;
    max-width: 100%;
}
.fancybox-skin {
    position: relative;
}
/** Botón cerrar Popup */
.fancybox-item.fancybox-close {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    color: red;
    padding: 5px;
    opacity: 1;
    transition: all .1s;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fancybox-item.fancybox-close:hover {
    opacity: 1;
    background-color: red;
    color: #fff;
}
.fancybox-item.fancybox-close::after {
    content: 'X';
    color: rgb(40, 40, 40);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.fancybox-item.fancybox-close:hover::after {
    color: white;
}
/** Fix: Eliminar el efecto de focus sobre el elemento popup - Fancybox */
.popup__image--mobile:focus, .popup__link--mobile:focus,
.popup__image:focus, .promotion__link:focus {
    outline: none !important;
}

/* Forzar a que se muestre el overlay sobre el sitio de Thor */
.fancybox-overlay {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000000;
}