

/*Medium and Large Screen Sizes*/

@media (min-width: 768px){

    /*Portafolio*/

    .briefcase-flex-grid {
        flex: 0 0 calc(33% - 10px);
        margin: 10px 5px;
    }

    #sidebar .sidebar-container{
        padding: 50px 20px;
    }

    #sidebar a {
        margin-bottom: 15px;
    }

    .bg-multipler{
        width: 490px;
        height: 320px;
        left: 0;
    }

    .footer-var{
        height: 151px;
    }

    .navbar{
        padding: 0 120px;
      }
    .navbar img {
        display: block;
        margin: 0 auto;
        max-height: 74px;
        width: auto;
    }

    .hero-info{
        height: 147px;
        padding: 15px 100px;
        text-align: left;
    }
    h3.secondary-title{
        padding-bottom: 86px;
    }

    .briefcase {
        padding-bottom: 200px;
    }

    /*section.investors{
        display: flex;
        justify-content: space-between;
    }
    section.investors div {
        flex: 0 0 calc(50% - 20px);
    }
    section.investors h2{
        font-size: 47px;
    }*/

    .lines-background{
        top: -14px;
        left: -131px;
    }

    #sidebar{
        width: 300px;
    }

    #sidebar .sidebar-container{
        padding: 60px 20px;
      }

    /*Main Page*/
    .last-news-section .row{
        margin: 0;
    }

    .announcement-text p{
        font-size: 38px;
        line-height: 45px;
      }
    .announcement-text p span{
        font-size: 40px;
      }

    /***********/
    /*Historia*/
    /***********/

    .timeline .years-box{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .years-box .year{
        flex-basis: calc(25% - 15px);
        margin-right: 15px;
    }

    /***************************/
    /*Project Page*/
    /***************************/

    .project-sidebar{
        padding-right: 100px;
    }

    /***************************/
    /*Contacto*/
    /***************************/

    .contact-info{
        padding-right: 100px;
    }
      
    .contact-image{
        padding-left: 100px;
    }

    .contact-form{
        margin-bottom: 0px;
    }

    .form-btn{
        width: 190px;
        height: 50px;
        margin-left: 0;
    }


    /***********/
    /*Footer*/
    /***********/

    #footerVideoModal iframe {
        width: 720px;
        height: 480px;
    }

    #footerVideoModal .modal.show .modal-dialog {
        width: 720px;
    }
      

    .flex-container {
        display: flex;
        justify-content: center;
    }

    .flex-container div {
        border-right: solid var(--font-color) 2.5px;
        flex: 0 0 calc(20% - 30px);
        min-height: 130px;
    }

    .footer{
        padding: 40px 100px;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .right-title::after{
        margin-left: auto;
    }

    .principle-deco {
        border-right: 2px solid var(--main-color);
    }
}


 /* Hack text align */
 .text-xs-left { text-align: left; }
 .text-xs-right { text-align: right; }
 .text-xs-center { text-align: center; }
 .text-xs-justify { text-align: justify; }
 
 @media (min-width: 768px) {
   .text-sm-left { text-align: left; }
   .text-sm-right { text-align: right; }
   .text-sm-center { text-align: center; }
   .text-sm-justify { text-align: justify; }
 }
 
 @media (min-width: 992px) {
   .text-md-left { text-align: left; }
   .text-md-right { text-align: right; }
   .text-md-center { text-align: center; }
   .text-md-justify { text-align: justify; }
 }
 
 @media (min-width: 1200px) {
   .text-lg-left { text-align: left; }
   .text-lg-right { text-align: right; }
   .text-lg-center { text-align: center; }
   .text-lg-justify { text-align: justify; }
 }

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 720px;
        margin: 1.75rem auto;
    }
}

@media (max-height: 780px){
    #sidebar .sidebar-container{
        padding: 30px 20px !important;
    }

    #sidebar a {
        margin-bottom: 5px !important;
    }

}