/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*GLOBALS*/

@font-face {
  font-family: "main-font";
  src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: "title-font";
  src: url("../fonts/HelveticaNeue-Medium.otf");
}


:root{
  --main-color:#FF8217;
  --gray-background: #f4f4f4;
  --font-color: #505050;

  --main-font: "main-font";
  --title-font: "title-font";
}

body{
  font-family: var(--main-font);
  color: var(--font-color);
}

p{
  font-size: 20px;
  line-height: 25px;
}

b {
  font-family: var(--title-font) !important;
  color: var(--font-color);
  font-size: 16px;
}

h2{
  font-family: var(--title-font);
  font-size: 25px;
}

h3{
  font-family: var(--title-font);
  font-size: 15px;
}

h4 {
  font-family: var(--title-font);
}



.form-group label, .form-group{
  font-family: var(--title-font);
}

.background-gray{
  background-color: var(--gray-background);
}

.orange-bar{
  width: 80%;
  max-width: 560px;
  height: 2px;
  background-color: var(--main-color);
  margin: 0 auto;
}

/*Seccion Anuncios*/
.anunciosImg {
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  padding-top: 500px;
  padding-left: 75px;
  color: var(--gray-background);
}

.footer-var {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 75px;
  /*background-image: url('../images/bar.jpg');*/
}

.anunciosImg.landMark {
  background-image: url('../images/section/the_landmark.jpg');
}

.anunciosImg.harbor {
  background-image: url('../images/section/the_harbor.jpg');
}

.anunciosImg.calle-corazon {
  background-image: url('../images/section/calle_corazon.jpg');
}

.anunciosImg.altavista {
  background-image: url('../images/section/altavista_147.jpg');
}

.anunciosImg div{
  display: none;
}

/*Start Section*/

.language-content div a {
  text-decoration: none;
  color: var(--main-color);
  font: var(--main-font);
}

.lenguage-section{
  height: 100vh;
  width: 100%;
  background-image: url('../images/frame.jpg');
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
}

.lenguage-section .language-content {
  margin-top: 190px;
  margin-left: 25px;
}

/*Section Titles*/

.section-title-leasing {
  cursor: pointer;
}
.section-title::after{
  display: block;
  content: '';
  height: 2px;
  width: 36px;
  text-align: center;
  background-color: var(--main-color);
  margin: 20px auto;
}

.secondary-title{
  text-align: left;
  letter-spacing: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.secondary-title::after{
  display: block;
  content: '';
  height: 2px;
  width: 36px;
  text-align: center;
  background-color: var(--main-color);
  margin-top: 5px;
}
.section-subtitle-portafolio {
  display: block; 
  margin-top: 10px; 
  font-size: 18px; 
  color: #c1c1c1; 
  font-weight: 400; 
  font-family: var(--main-font);
}


.right-title{
  letter-spacing: 4px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.right-title::after{
  display: block;
  content: '';
  height: 2px;
  width: 36px;
  background-color: var(--main-color);
  margin-top: 5px;
}

.text-container{
  max-width: 815px;
  margin: 0 auto;
  text-align: justify;
  padding: 0;
}


/*Navbar*/



.navbar{
  background-color: #ffffff;
  min-height: 74px;
}

.navbar a{
  margin: 0 auto;
  max-height: 54px;
  width: auto;
}



.navbar .toggle-menu span{
  display: block;
  content: '';
  width: 29px;
  height: 3px;
  margin-bottom: 4px;
  margin-left: 0;
  background-color: var(--font-color);
}

.navbar .toggle-menu{
  cursor: pointer;
}

/*Sidebar*/

#sidebar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1021;
  margin-left: 0;
  width: 100%;
  background-color: white;
  
  font-size: 13px;
  height: 100vh;
}

#sidebar a{
  font-family: var(--title-font);
  text-decoration: none;
  display: block;
  color: var(--font-color);
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color .2s;
}
#sidebar a:hover {
  color: var(--main-color);
  border-bottom: solid 1.2px var(--main-color);
}

#sidebar a.active {
  color: var(--main-color);
}

#sidebar a.active + div {
  display: block !important;
}

#sidebar .sidebar-container{
  padding: 30px 20px;
}

.initiallyHidden { display: none; }

#sidebar nav div a{
  margin-left: 25px;

}

#sidebar-close i{
  color: var(--font-color);
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#sidebar-close:hover{
  cursor: pointer;
}

#page-content{
  overflow-x: hidden;
  position: relative;
}

#sidebar-active{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1021;
}



/****Modal******************/

div#jobModal{
  padding: 0 !important;
}

#jobModal .modal-dialog{
  height: 100vh;
}

a#job:hover{
  cursor: pointer;
}

.modal-body p a{
  color: var(--main-color);
}

.modal-body p a:hover{
  text-decoration: none;
}

.close.fa.fa-times{
  font-size: 25px;
}


/*Header*/

/* .bg-multipler{
  background: var(--main-color);
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
} */

.bg-multipler{
  background-image: url('../images/decoration.png');
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  position: absolute;
  width: 100vw;
  height: 240px;
  left: 0;
}

.hero-info h2 {
  font-size: 18px;
}

.hero-info p {
  font-size: 16px;
}

.hero{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-content{
  position: absolute;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.hero-info{
  width: 100%;
  height: 115px;
  text-align: center;
  padding-top: 20px;
  position: relative;
}

.hero-info div{
  margin: auto 0;
  color: #ffffff;
}

.hero-info a {
  text-decoration: none;
  color: #ffffff;
}

.icons a{
  margin-right: 20px;
  font-size: 18px;
  margin-bottom: 15px;
}

.icons a:last-of-type{
  margin-right: 0;
}

/*Carousel CSS*/


/***************************/
/*Main Page*/
/***************************/

/*Briefcase Section*/

#location-filter {
  max-width: 220px !important;
  margin: 0 auto;
}

#location-filter:focus {
  border-color: #ced4da !important;
}

location-option:hover{
  background-color: var(--main-color);
}

.briefcase-filter-item.active{
  color: var(--main-color);
}

.briefcase-filter-item:hover{
  cursor: pointer;
}

#briefcase-filter h4{
  font-family: var(--title-font);
  font-size: 18px;
}

#briefcase-clean-filter{
  font-family: var(--title-font);
}

.briefcase {
  background-color: var(--gray-background);
  padding-bottom: 100px;
}

.briefcase .container{
  position: relative;
  z-index: 2;
}

.lines-background{
  position: absolute;
  top: -26px;
  left: 0px;
  z-index: -1;
  background-image: url('../images/fondo-lineas.png');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.video {
	position: relative;
	padding-bottom: 56.25%; /*panorámico*/
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Investors Section*/
/*
section.investors h2{
  font-size: 35px;
}*/


/*Last News*/

.last-news{
  max-width: 100%;
}


.last-news.home-news-slider{
  max-width: 260px;
  margin: 15px auto;
}

.last-news a .news-box{
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid var(--main-color);
}

.last-news a{
  text-decoration: none;
  color: var(--font-color);
}

.last-news a:hover h2{
  color: var(--main-color);
}

.news-box h2{
  font-size: 14px;
  margin: 15px 0;
}

.news-box p{
  font-size: 18px;
}

.box-spaces{
  display: block;
  content: '';
  width: 70%;
  height: 6px;
  position: absolute;
  left: 15%;
}

.grey{
  background-color: var(--gray-background);
}

.white{
  background-color: white;
}

.box-spaces.up{
  top: -2px;
}

.box-spaces.down{
  bottom: -2px;
}

.last-news-section .row{
  margin: 0 20px;
}


/***************************/
/*History Page*/
/***************************/

.timeline{
  background-color: var(--gray-background);
}
.years-box .year{
  width: 100%;
  margin-bottom: 20px;
}

.years-box .year h2 {
  font-size: 47px;
}

.years-box .year ul li{
  font-size: 18px;
}

.years-box .year:last-of-type h2{
  color: var(--main-color);
}

.member-team {
  border-bottom: 1px solid var(--main-color);
}

.member-team:last-of-type {
  border-bottom: none;
}


.member-team h2{
  margin-bottom: 0;
  font-size: 33px;
}

.member-team span{
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  color: #C1C1C1;
}

.member-team p{
  font-size: 15px;
}

.member-team h2{
  color: var(--main-color);
}

h4.number {
  font-family: var(--title-font);
  font-size: 35px;
}

.principle-deco {
  border: none;
}


/***************************/
/*Portafolio Page*/
/***************************/

.image-briefcase{
  width: 100%;
  height: 265px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-briefcase a{
  width: 100%;
  height: 265px;
}

.image-briefcase a .info{
  width: 100%;
  height: 265px;
  padding: 0;
  background-color: rgba(208, 80, 0, 0.79);
  opacity: 0;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
}

.image-briefcase:hover .info{
  opacity: 1;
}

.briefcase-grid {
  display: flex;
  justify-content: center;
}

.briefcase-flex-grid {
  flex: 0 0 calc( 100% );
  margin: 10px 5px;
}


.briefcase-grid div h2{
  font-size: 20px;
  color: var(--font-color);
  margin-bottom: 0;
  font-family: var(--title-font);
}

.briefcase-grid div span{
  display: block;
  font-size: 18px;
  color: #c1c1c1;
  line-height: 1;
}

.briefcase-grid div.col-sm-12 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 8px;
    padding-left: 8px;
}

/***************************/
/*Project Page*/
/***************************/

.backbutton a{
  font-family: var(--title-font);
  color: var(--main-color);
  font-size: 22px;
}

.backbutton a:hover{
  text-decoration: none;
  color: var(--main-color);
}

.project-sidebar p{
  font-size: 20px;
  color: var(--font-color);
  padding: 3px 15px 15px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.project-sidebar p:last-of-type{
  border-bottom: none;
}

.project-sidebar p span{
  color: var(--main-color);
}

.project-info p, .project-info h3{
  font-size: 20px;
  margin-bottom: 0;
}



.project-info a{
  font-size: 18px;
  color: var(--main-color);
  font-family: var(--title-font);
  text-decoration: none;
}

.map-section p{
  font-size: 15px;
}

.map-image{
  width: 1200px !important;
  height: 650px !important;
  margin: 0 auto;
}

#map-areas area:hover{
  cursor: pointer;
  /* display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--main-color);
  mix-blend-mode: multiply; */
}

.map-modal .modal-dialog{
  max-width: 600px !important;
}

.map-modal .modal-body {
  padding: 0 !important;
}

.map-modal-title{
  padding: 30px 30px;
}


.map-modal-text{
  padding: 15px 30px;
  background-color: var(--main-color);
}

.map-modal-text p{
  color: white;
  margin-bottom: 0;
}



.store-icons a{
  font-size: 25px;
  color: var(--font-color);
}

.store-icons a:hover{
  color: var(--main-color);
}

.modal-content video {
  width: 100%;
  height: auto;
}

.videoBtn span {
  color: var(--main-color);
  font-family: var(--title-font);
  font-size: 18px;
}

.videoBtn span:hover {
  cursor: pointer;
}

#videoModal .modal-dialog{
  max-width: 650px !important;
}

/***************************/
/*Socios Estratégicos*/
/***************************/

.affiliated-companies{
  margin-bottom: 150px;
  height: 350px;
}

.affiliated-companies .image-container{
  height: 326px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.image-container .multiplier{
  background-color: rgba(208, 80, 0, 0.79);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
}

.image-container .multiplier:hover{
  opacity: 1;
}

.image-container .multiplier p{
  margin: 15px;
  color: white;
  text-align: justify;
}


/***************************/
/*Ultimas Noticias*/
/***************************/

.news .post p{
  font-size: 15px;
}
.news .post h2{
  font-size: 25px;
  color: var(--main-color);
}

.news .post a:hover{
  text-decoration: none;
}


.news .post{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.news .post:last-of-type{
  border-bottom: none;
}

/***************************/
/*Contacto*/
/***************************/
.contact-info div{
  height: 320px;
}

.contact-info.info-lg div{
  height: 370px;
}

.contact-info a{
  color: var(--main-color);
}

.contact-info a:hover{
  text-decoration: none;
}

:focus {
  outline: none !important;
}

.form-col{
  margin-bottom: 50px;
}

.form-info label,
.form-info input,
.form-info textarea{
  display: block;
  width: 100%;
}

.form-info input,
.form-info textarea{
  border: 1px solid #707070;
  border-radius: 2px;
}

.form-info label{
  margin-top: 15px;
}

.form-btn{
  border: none;
  background-color: var(--main-color);
  padding: 10px 30px;
  color: white;
  width: 100%;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-family: var(--title-font);
}

.form-btn:hover{
  cursor: pointer;
}

/***************************/
/*Leasing*/
/***************************/

.form-info select {
  width: 100%;
  min-height: 28px;
}

/***************************/
/*Bolsa de trabajo*/
/***************************/
.job-info p a{
  color: var(--main-color);
}

.job-info p a:hover{
  text-decoration: none;
}

input#file-upload-button {
  background-color: rebeccapurple;
}

.form-control-file {
  overflow: hidden !important;
}




/***************************/
/*Socios Comerciales*/
/***************************/

.partners-img{
  margin: 150px 0px;
}

.partner-item{
  border: 0.1px solid rgb(238, 238, 238);
  cursor: pointer;
}

.partner-item img{
  transition: transform .5s;
}

.partner-item img:hover {
  transform: scale(1.12);
}

.partner-filter-item:hover{
  color: var(--main-color);
}

.partner-filter-item.active {
  color: var(--main-color);
}

#partner-clean-filter {
  font-family: var(--title-font);
}
/***************************/
/*Footer*/
/***************************/


/*FlexBox*/
.flex-container {
  margin-bottom: 50px;
}


.flex-container div {
  line-height: 15px;
  text-align: center;
  padding: 0 10px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container div:last-of-type {
  border-right: none;
  color: var(--main-color);
}

.flex-container p a{
  text-decoration: none;
  color: var(--main-color);
}

.footer {
  width: 100%;
  background-color: #F4F4F4;
  padding: 20px 10px;
  text-align: center;
}

.footer h3{
  margin: auto 0;
}

.footer a h3{
  color: var(--font-color);
}

.footer a:hover{
  text-decoration: none;
}

.footer img {
  max-height: 41px;
  margin: auto 0;
}

.footer-icons{
  margin: 0 auto;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer div a i {
  color: var(--font-color);
  font-size: 28px;
}

.footer-icons a i:hover{
  color: var(--main-color);
}

.footer .links a{
  display: block;
  text-decoration: none;
  color: var(--font-color);
}

#footerVideoModal iframe {
  width: 100%;
  height: 200px;
}

#footerVideoModal .modal.show .modal-dialog {
  width: 100%;
}

.flex-container p a.link-grey{
  color: var(--font-color) !important;
}

/******************/
/*Estrategia Page*/
/******************/

.noticiasSection div h2.tituloNoticias
{
  letter-spacing: 10px;
}

#socios-estrategicos a{
  color: black;
}

#socios-estrategicos a:hover{
  text-decoration: none;
}

.strategy-box{
  min-height: 200px;
  padding: 20px;
  border: 1px solid var(--main-color);
  position: relative;
}

/*Announcement Main Page*/
.announcement-container
{
  padding-top: 200px;
  padding-bottom: 150px;
}

.announcement-text{
  position: relative;
}

.decorationUp,
.decorationDown {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--main-color);
}

.decorationLeft,
.decorationRight {
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: var(--main-color);
}

.decorationUp,
.decorationLeft {
  top: 0;
  left: 0;
}

.decorationDown,
.decorationRight {
  bottom: 0;
  right: 0;
}



.announcement-text p{
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}
.announcement-text p span{
  color: var(--main-color);
  font-size: 20px;
}

.announcement-name{  
  text-align: justify  
}

.announcement-name h2 {
  color: var(--main-color);
}


 
.estrategiaText{
  text-align: justify;
}

.tablaEstrategia div .col-md-6{
  padding-right: 5px;
  padding-left: 5px;
}

.tablaEstrategia .secondary-title::after{
  margin-top: 20px;
  }

.tablaEstrategia .right-title::after{
  margin-top: 20px;
}

.tablaEstrategia .secondary-title{
  padding-bottom: 20px;
  }

.tablaEstrategia .right-title{
  padding-bottom: 20px;
}


#social-responsibility .secondary-title{
  font-size: 18px !important;
}



/******************/
/*Video Intro*/
/******************/

.intro-video{
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:#f2f2f2;
  z-index: 1021;
}

.intro-video video{
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}


/************************************/
/*****Styles for Sweet Alert 2******/
/***********************************/

.swal2-title{
  font-family: "main-font" !important;
  color: var(--font-color) !important;
}

.swal2-styled.swal2-confirm{
  background-color: var(--main-color) !important;
  color: white !important;
  border-radius: 0 !important;
}

.swal2-styled:focus {
  box-shadow: none !important;
}



/************************************/
/*****Styles Modal Search***********/
/***********************************/

/*Navegacion*/
#fullscreen-search {
  padding-right: 0px !important;
}

.modal-content {
  background-color: white;
}

.modal-header {
  border: none;
}

.modal-header img {
  max-height: 260px;
  max-width: 240px;
  flex: 0 0 100%;
}

a.search-link {
  text-decoration: none;
  color: var(--font-color);
}

a.search-link h2 {
  color: var(--main-color);
}

/*Filters*/

.filters span:hover,
.filter-item:hover{
  cursor: pointer;
  color: var(--main-color);
}

.filter-item.active{
  color: var(--main-color);
}

.filter-item h4 {
  font-size: 1.2rem;
}

/*********************************************************************/
/*Cuerpo de la busqueda*/

#fullscreen-search .modal-body {
  margin-top: 50px;
  flex: 0 0 auto;
}

#fullscreen-search .modal-dialog {
max-width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

#fullscreen-search .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none !important;
}


/*************************************************************************/
/*Plugin Slick Modifications*/

.slick-prev:before,
.slick-next:before,
.slick-dots li.slick-active button:before {
  color: var(--main-color);
}

.slick-track {
  display: flex;
}
.slick-slide {
  height: auto;
}

.slick-dots{
  bottom: -40px !important;
}


/*************************************************************************/
/*Denouncements Class*/
.input-hidden,
#relationDenouncementOther.input-hidden,
#specificPlaceOther.input-hidden,
#specificAmbientOther.input-hidden,
#anonimeEmail.input-hidden{
  display: none;
}

.input-hidden.active,
#relationDenouncementOther.input-hidden.active,
#specificPlaceOther.input-hidden.active,
#specificAmbientOther.input-hidden.active,
#anonimeEmail.input-hidden.active{
  display: block;
}



/**********  FILE INPUT - BOLSA DE TRABAJO  ***************/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #6a6a6a;
  border-radius: 3px;
  /*padding: 8px 12px;*/
  /*height: 39px !important;*/
  width: 100%;
}

.upload-btn-wrapper .btnr {
  border: 1px solid gray;
  color: rgb(36, 36, 36);
  background-color: #eee;
  padding: 5px 15px;
  border-radius: 1px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  
}
.upload-btn-wrapper .btnr + span {
  top: 3px;
  font-weight: normal;
  position: relative;
  }

.upload-btn-wrapper input[type=file] {
    font-size: 42px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/** Selector de idioma - barra de navegaciòn **/
.language {
  padding: 0 !important;
  margin-right: 1rem;
  width: 80px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-weight: 700;
}
.language__link {
  display: block;
  text-decoration: none !important;
  color: var(--font-color);
  transition: color .3s;
}
.language__link.active {
  color: var(--main-color);
}
.language__link:hover {
  color: var(--main-color);
}


/***********************************

POPUP (Modal)

************************************/

.modal-popup .modal-dialog {
  width: 350px !important;
}
.modal-popup img {
  display: block;
}
.modal-popup .modal-body {
  padding: 0;
}

@media screen and (min-width: 600px) {
  .modal-popup .modal-dialog {
    width: 500px !important;
  }
}